<div *ngIf="profile">


  <div class="panel panel-default">
    <div class="jumbotron">
      <h1>{{profile.name}}</h1>
      <h2>({{profile.login}})</h2>
    </div>

      <h2>{{profile.location}}</h2>

    </div>
        <div class="col-md-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
        </div>
        <div>
          <p>
            <span class="label label-default">{{profile.followers}} followers</span>
            <span class="label label-default">{{profile.following}} following</span>
            <span class="label label-default">{{profile.public_repos}} Public Repositories</span>
          </p>
          <p><a href="{{profile.html_url}}" class="btn btn-success btn-sm" target="_blank">View profile on github</a></p>
